.Modal {
    background-color: rgba(32,35,41,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    color: white;

}

.Modal__container {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    width:600px;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    z-index:1000;
    color: black;
}
 .Modal__header{
    text-align: right;
}
.cerrarModal {
    border: 0px;
    cursor: pointer;
    background-color: transparent;
    color: gray;


}